{% extends 'base.html.twig' %}

{% block title %}Modification de sondage{% endblock %}

{% block content %}
<div class="container py-3">
    <div class="py-3">
        <a href="{{ path('app_survey_index') }}" class="btn btn-success mt-3 btn-outline-primary">Retour au tableau </a>
    
    </div>
        <div class="jumbotron text-center py-3">
            <h1> Modification </h1>
        </div>
        <div class="py-3">
            {{ include('survey/_form.html.twig', {'button_label': 'Modifier'}) }}
    
        </div>
    
</div>
{% endblock %}
