<div class="jumbotron text-center py-3">
    <h1>Courrier de validation</h1>
</div>

<p>
    Bonjour, veuillez confirmez votre inscription en cliquant sur le lien ci-dessous  
</br><a href="{{ signedUrl }}">Confirmer votre email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
<p>
    Veuillez utiliser le mot de passe ci-dessous pour votre première connexion.<br>
   <p class=".font-weight-bold">
    </br>Identifiant: {{ identifiant }}
    </br>Mot de passe:{{ provisoire }}

   </p>
</br>
<p>Vous devriez le modifier après votre première connexion.</p>

<p>
    Salutations!
</p>
