<form method="post" action="{{ path('app_repondant_delete', {'id': repondant.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ repondant.id) }}">
    <button class="btn">Delete</button>
</form>
