{% extends 'base.html.twig' %}

{% block title %}New Repondant{% endblock %}

{% block body %}
    <h1>Create new Repondant</h1>

    {{ include('repondant/_form.html.twig') }}

    <a href="{{ path('app_repondant_index') }}">back to list</a>
{% endblock %}
