{% extends 'base.html.twig' %}

{% block title %}Gestion des{% endblock %}

{% block content %}

<div class="py-3" id="3">
    <a href="{{ path('app__new') }}" class="btn btn-success mt-3">Nouvel</a>

</div>

<div class="jumbotron text-center py-3">
    <h1>Gestion des</h1>
</div>
</br>
    
<div class="py-3">
    <table class="table table-striped">
        <thead>
            <th>Voir</th>
            <th>Modifier</th>
            <th>Supprimer</th>         
        </thead>
        <tbody>
        {% for %}
            <tr>
                
                <td>
                    <a href="{{ path('app__show', {'id': .id}) }}" class="btn btn-dark mt-3">Voir</a>
                </td>
                <td>
                    <a href="{{ path('app__edit', {'id': .id}) }}" class="btn btn-warning mt-3">Modifier</a>
                </td>
                <td>
                    {{ include('/_delete_form.html.twig') }}


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
    
{% endblock %}
