{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block content %}
<div class="container py-3">
    <div class="py-3">
        <a href="{{ path('app_categories_index') }}" class="btn btn-primary mt-3">Retour au tableau des catégories</a>
    
       </div>
        <div class="jumbotron text-center py-5">
            <h1> Catégorie</h1>
        </div>
        <div class="py-3">
            <table class="table">
                <tbody>
                  
                    <tr>
                        <th>Titre</th>
                        <td>{{ category.titre }}</td>
                    </tr>                
                 
                </tbody>
            </table>      
        </div>

</div>
   
{% endblock %}
