{% extends 'base.html.twig' %}

{% block title %}Nouvelle question{% endblock %}

{% block content %}
<div class="py-3">
    <a href="{{ path('app_interroger_index') }}" class="btn btn-primary mt-3">Retour au tableau des questions</a>

</div>
    <div class="jumbotron text-center py-3">
        <h1>Ajout d'une nouvelle question</h1>
    </div>
    <div class="py-3">
        {{ include('interroger/_form.html.twig') }}

    </div>
{% endblock %}
